[submodule "gec_ranking"]
	path = gec_ranking
	url = https://github.com/borgr/gec-ranking.git
[submodule "gec-ranking"]
	path = gec_ranking/gec_ranking
	url = https://github.com/borgr/gec-ranking.git
[submodule "wmt-trueskill"]
	path = wmt-trueskill
	url = https://github.com/borgr/wmt-trueskill.git
[submodule "unseenest"]
	path = unseenest
	url = https://github.com/borgr/unseenest.git
[submodule "simplification"]
	path = simplification
	url = https://github.com/borgr/simplification.git
[submodule "imeasure"]
	path = imeasure
	url = https://github.com/borgr/imeasure.git
