[submodule "gec_ranking"]
	path = gec_ranking
	url = https://github.com/borgr/gec-ranking.git
[submodule "gec-ranking"]
	path = gec_ranking/gec_ranking
	url = https://github.com/borgr/gec-ranking.git
[submodule "wmt-trueskill"]
	path = wmt-trueskill
	url = https://github.com/keisks/wmt-trueskill.git
[submodule "unseenest"]
	path = unseenest
	url = https://github.com/borgr/unseenest.git
